* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html{
    width: 100%;
    height: 100%;
    font-family: "Space Grotesk", sans-serif;
}

#main-container-el {
    background-image: url("images/bg-main-desktop.png");
    background-size: 30% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-container-left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
}

#card-front-side-container {
    display: flex;
    justify-content: left;
    width: 100%;
}

#card-front-side-div {
    background-image: url("images/bg-card-front.png");
    width: 447px;
    height: 245px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
}

#front-card-top-part {
    display: flex;
}

#front-card-bottom-part {
    display: flex;
    flex-direction: column;
    height: 80px;
    justify-content: space-between;
}

#card-number {
    color: white;
    font-size: 25px;
}

#name-and-doe-container {
    display: flex;
    justify-content: space-between;
}

#person-name, #doe {
    color: white;
}

#card-back-side-container {
    display: flex;
    justify-content: right;
}

#cvc-container {
    background-image: url("images/bg-card-back.png");
    height: 245px;
    display: flex;
    justify-content: right;
    padding: 110px 60px;
    width: 447px;
}

#cvc {
    color: white;
}

#main-container-content-el {
    display: flex;
    justify-content: space-between;
    height: 525px;
    width: 1400px;
}

#main-container-right-side {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#enter-name-container, #enter-card-number-container, #doe-and-cvc-container {
    margin: 0 0 25px 0;
}

#cardholder-name-txt-div, #card-number-txt-div, #doe-txt-container, #cvc-txt-container {
    margin: 0 0 10px 0;
}

#cardholder-name-txt, #card-number-txt, #doe-txt, #cvc-txt {
    font-size: 14px;
}

#input-name-container, #input-card-number-container {
    width: 80%;
}

#input-name, #input-card-number, #input-month, #input-year, #input-cvc {
    width: 100%;
    border-radius: 7px;
    height: 35px;
    border: 1px solid gray;
}

#doe-and-cvc-container {
    border-color: blue;
    display: flex;
    width: 80%;
}

#doe-container-left {
    display: flex;
    flex-direction: column;
}

#doe-input-container {
    display: flex;
    width: 70%; 
    justify-content: space-between;
}

#input-month-container, #input-year-container {
    width: 48%;
}

#input-cvc-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#confirm-btn-container {
    margin-top: 25px;
    width: 100%;
}

#conform-btn {
    background-color: hsl(278, 68%, 11%);
    border: none;
    color: white;
    border-radius: 7px;
    width: 371px;
    padding: 12px 0;
    font-family: "Space Grotesk", sans-serif;
    font-size: 16px;
}